@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', serif;
  @apply bg-gray-50 dark:bg-gray-800;
}

a {
  color: inherit;
  text-decoration: underline;
  position: relative;
  @apply hover:bg-gray-100 dark:hover:bg-gray-700 px-1 -ml-1 md:px-2 md:-ml-2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a {
  @apply dark:text-gray-300;
}

.button {
  @apply shadow border border-gray-100 dark:border-gray-400 hover:shadow-inner;
}

@media (prefers-color-scheme: dark) {
  .dark-img {
    filter: invert(100%);
  }
}
