@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', serif;
  @apply bg-gray-50 dark:bg-gray-800;
}

a {
  color: inherit;
  position: relative;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a {
  @apply dark:text-gray-300 subpixel-antialiased;
}

.button {
  @apply rounded mx-1 border border-gray-200 hover:border-gray-100 hover:shadow-md active:shadow active:border-gray-100 dark:border-gray-500 dark:active:border-gray-400 dark:hover:shadow-none;
}

.button-selected {
  @apply rounded
    mx-1
    border
    bg-gray-700
    text-white
    border-transparent
    active:border-gray-700
    hover:shadow-md
    active:shadow
    dark:border-gray-400
    dark:hover:border-gray-300
    dark:active:border-gray-200
    dark:hover:shadow-none;
}

.link {
  @apply font-bold hover:bg-gray-100 dark:hover:bg-gray-700 px-1 -ml-1 md:px-2 md:-ml-2;
}

@media (prefers-color-scheme: dark) {
  .dark-img {
    filter: invert(100%);
  }
}
